name: Java CI

on:
  pull_request:
    branches:
      - checkstyle

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - run: mvn checkstyle:check
      - name: Build with Maven
        run: mvn -B package --file module1